<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baichang.android.develop">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".eg.Main2Activity"/>
    <activity android:name=".advance.ValueAnimatorActivity"/>
    <activity android:name=".springanmiator.SpringAnimatorActivity"/>
    <activity android:name=".vectorDrawable.VectorActivity"/>
    <activity android:name=".vectorDrawable.VectorActivity"/>
    <activity android:name=".vectorDrawable.LollipopActivity"/>
    <activity android:name=".bezier.BezierActivity"/>
    <activity android:name=".bezier.SecondBezierActivity"/>
    <activity android:name=".bezier.ThirdBezierActivity"/>
    <activity android:name=".bezier.DrawPadActivity">
    </activity>
    <activity android:name=".bezier.PathMorphingActivity">
    </activity>
    <activity android:name=".bezier.WaveBezierActivity">
    </activity>
  </application>

</manifest>